@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/Strjmono.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#map {
    position: relative;
    width: 65vw;
    height: 70vh;
    background-image: url('images/StarMap.png'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    border: 2px solid #fff;
    border-radius: 10px;
}

.planet-container {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.planet {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.planet:hover {
    transform: scale(1.1); /* Only scale up the planet without moving it */
}

.planet-text {
        font-size: 14px;
    font-family: 'Star Jedi', Arial, sans-serif; /* Custom font */
    position: relative;
    margin-top: 5px; /* Move text above the planet */
}

.planet-container:hover .planet-text {
    display: block;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.popup-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .planet {
        width: 20px;
        height: 20px;
    }
}
